---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=0784c38f6c2541819a554b9811a2f90e&lat=43.570816&lon=-79.718903&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1732827600,"main":{"temp":4.13,"feels_like":0.71,"temp_min":4.13,"temp_max":4.67,"pressure":1008,"sea_level":1008,"grnd_level":986,"humidity":60,"temp_kf":-0.54},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"clouds":{"all":75},"wind":{"speed":4.13,"deg":287,"gust":7.12},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2024-11-28
        21:00:00"},{"dt":1732838400,"main":{"temp":3.29,"feels_like":-0.15,"temp_min":1.62,"temp_max":3.29,"pressure":1009,"sea_level":1009,"grnd_level":988,"humidity":61,"temp_kf":1.67},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"clouds":{"all":67},"wind":{"speed":3.85,"deg":282,"gust":8.61},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-11-29
        00:00:00"},{"dt":1732849200,"main":{"temp":2.02,"feels_like":-1.97,"temp_[...]
