<form data-controller="address" data-turbo-frame="address-suggestions" action="/api/v1/suggestions" method="get">
  <input
    placeholder="Start typing your address..."
    autocomplete="off"
    id="address-search"
    type="text"
    name="query"
  >
</form>

<turbo-frame id="address-suggestions">
  <!-- Suggestions will be replaced here -->
</turbo-frame>